# =========================================
# Python cache
# =========================================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# Virtual environments
# =========================================
venv/
env/
.venv/
*.egg-info/

# =========================================
# Model weights & training outputs
# =========================================
outputs/
*.pth

# =========================================
# Dataset (do NOT upload)
# =========================================
data/images/
data/annotations/
data/test_images/

# =========================================
# Jupyter Notebook checkpoints
# =========================================
.ipynb_checkpoints/

# =========================================
# OS system files
# =========================================
.DS_Store
Thumbs.db

*_files/
*.html

